In [7]:
#add the magic
%matplotlib inline

In [8]:
#import dependencies
import matplotlib.pyplot as plt
import pandas as pd

In [9]:
#load the csv files
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

#read data files and store in pd dataFrame
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [11]:
#get the columns and rows that are null
city_data_df.count()
city_data_df.isnull().sum()

city            0
driver_count    0
type            0
dtype: int64

In [12]:
#get the data type of each column 
city_data_df.dtypes

city            object
driver_count     int64
type            object
dtype: object

In [13]:
#get unique value of type of city
city_data_df["type"].unique()

array(['Urban', 'Suburban', 'Rural'], dtype=object)

In [16]:
# Get the number of data points from cities.
sum(city_data_df["type"]=="Urban")
sum(city_data_df["type"]=="Suburban")
sum(city_data_df["type"]=="Rural")

36

In [17]:
#get the columns and rows that are null for ride df
ride_data_df.count()
ride_data_df.isnull().sum()

city       0
date       0
fare       0
ride_id    0
dtype: int64

In [18]:
#get the data types of each column.
ride_data_df.dtypes

city        object
date        object
fare       float64
ride_id      int64
dtype: object

In [ ]:
#merge dfs into one single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how= "left", on[""])